:root {
  color-scheme: light dark;
}

* {
    box-sizing: border-box;
    color:light-dark(rgb(49, 49, 43), rgb(206, 206, 209));
}

html {
    background-color: light-dark(rgb(245, 245, 239), rgb(10, 10, 16));
}

html, a, input, button {
    font-family: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

h1, h2, h3 {
    margin-bottom: 5px;
}

div.wrapper {
    width: 800px;
    left: 0;
    right: 0;
    margin: auto;
}

textarea {
    width: 100%;
    height: 80px;
    resize: none;
    font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
    font-size: 1em;
}

input[type=url] {
    width: 100%;
    display: block;
    margin-bottom: 8px;
    font-size: 1em;
}

input[type=submit], a.example {
    width: 100%;
    background-color: light-dark(rgb(226, 218, 202), rgb(29, 37, 53));
    border: none;
    border-bottom: 1px solid light-dark(rgb(136, 129, 117), rgb(119, 126, 138));
    padding: 10px;
    cursor: pointer;
    font-size: 14pt;
    text-decoration: underline;
}

a.example {
    display: block;
    background-color: light-dark(rgb(202, 189, 221), rgb(53,  66, 34));
    text-align: center;
    margin-top: 5px;
}

ul#tabs {
    list-style: none;
    padding-left: 15px;
    margin: 0;
}
